{% extends "base.html" %}

{% block title %}<title>Tickets</title>{% endblock %}

{% block content %}
<h2>Existing Tickets</h2>
<ul>
    {% for ticket in tickets %}
    <li>
        <strong>Status:</strong> {{ ticket.status }}<br>
        <strong>Note:</strong> {{ ticket.note }}<br>
        <strong>Group ID:</strong> {{ ticket.group_id }}<br>
        <strong>User ID:</strong> {{ ticket.user_id }}
    </li>
    <br>
    {% if ticket%}
        {% if current_user.is_admin() or current_user.is_manager() %}
            <a class="btn btn-primary" href="{{ url_for('main.update_ticket', ticket_id=ticket.id) }}">Update Ticket</a>

            {% if current_user.is_admin() %}
            <form action="{{ url_for('main.delete_ticket', ticket_id=ticket.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
        {% endif %}
    {% endif %}
    {% endfor %}
</ul>

{% if current_user.is_authenticated %}
    {% if current_user.is_admin() or current_user.is_manager() %}
        <a href="{{ url_for('main.create_ticket') }}">Create Ticket</a>
    {% endif %}
{% endif%}
{% endblock %}
